[settings]
parallelism = 4

[secrets]
test_token = { provider = "env", key = "FLOWCRAFT_E2E_SECRET" }

[env]
GREETING = "Hello from E2E Test"

[jobs.flaky-job]
depends_on = []
retry = 2

[[jobs.flaky-job.steps]]
name = "This step will fail 3 times"
cmd = "echo 'Attempt' >> attempts.log && exit 1"

[jobs.secret-tester]
depends_on = []
secrets = ["test_token"]

[[jobs.secret-tester.steps]]
name = "Test 1: Masking"
cmd = "echo 'My secret value is $test_token'"

[[jobs.secret-tester.steps]]
name = "Test 2: Injection"
cmd = "test \"$test_token\" = \"super-secret-123\""

[jobs.parallel-a]
depends_on = []
[[jobs.parallel-a.steps]]
name = "Parallel A"
cmd = "echo 'Job A running' && sleep 1"

[jobs.parallel-b]
depends_on = []
[[jobs.parallel-b.steps]]
name = "Parallel B"
cmd = "echo 'Job B running' && sleep 1"

[jobs.parallel-c]
depends_on = []
[[jobs.parallel-c.steps]]
name = "Parallel C"
cmd = "echo 'Job C running' && sleep 1"

[jobs.final-job]
depends_on = ["flaky-job"]
[[jobs.final-job.steps]]
name = "Should Not Run"
cmd = "echo 'ERROR: This job should never have run!' && exit 1"
